<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Hello I am the dynamic page and the user is <%= data.name %> </h1>\
    <h1>Hello I am the dynamic page and the user age is is <%= data.age %> </h1>
    <h1>Hello I am the dynamic page and the user profession is  is <%= data.profession %> </h1>
</body>
</html>